#ui-container {
    position: absolute; 
    display: flex; 
    width: 1024px; 
    padding: 20px;
    align-items: center;
}


#health1-container {
    position: relative;
    height: 30px; 
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: right;
}

#health1 {
    background-color: red;
    height: 30px; 

    /* A width property is added because Player 1's health
    is contained in a flexbox so that it shrinks rightward;
    this width property forces the healthbox to render on
    top of the flexbox */
    width: 100%;
}

#health2-container {
    position: relative;
    height: 30px; 
    width: 100%;
    background-color: gray;
}

#health2 {
    background-color: red; 
    height: 30px; 
}

#timer {
    background-color: yellow; 
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

canvas {
    border: 1px solid black; 
    width: 80%; 
    width: 1024px; 
    height: 576px;
}

* {
    box-sizing: border-box;
}