#ui-container {
    position: absolute; 
    display: flex; 
    width: 1024px; 
    padding: 20px;
    align-items: center;
}


#health1-container {
    position: relative;
    height: 30px; 
    width: 100%;
    background-color: blue;
}

#health1 {
    background-color: yellow;
    height: 30px; 
}

#health2-container {
    position: relative;
    height: 30px; 
    width: 100%;
    background-color: blue;
}

#health2 {
    background-color: yellow; 
    height: 30px; 
}

#timer {
    background-color: red; 
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

canvas {
    border: 1px solid black; 
    width: 80%; 
    width: 1024px; 
    height: 576px;
}

* {
    box-sizing: border-box;
}